{
  "parser": "@typescript-eslint/parser",
  "env": {
    "node": true
  },
  "globals": {
    "sleep": true,
    "prettyFormat": true
  },
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module",
    "project": "tsconfig.json"
  },
  "plugins": [
    "@typescript-eslint/eslint-plugin"
  ],
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended"
  ],
  "root": true,
  "rules": {
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "@typescript-eslint/no-explicit-any": "warn",
    "no-unused-vars": "off",
    "@typescript-eslint/no-unused-vars": [
      "warn",
      {
        "argsIgnorePattern": "^_",
        "varsIgnorePattern": "^_"
      }
    ],
    "require-await": "off",
    "@typescript-eslint/require-await": "warn",
    "@typescript-eslint/no-floating-promises": "error",
    "no-restricted-syntax": "off",
    "prettier/prettier": "warn",
    "indent": "off",
    "@typescript-eslint/indent": "off",
    "max-len": [
      "warn",
      {
        "code": 100,
        "ignoreComments": true,
        "ignoreStrings": true,
        "ignoreTemplateLiterals": true
      }
    ],
    "quotes": "off",
    "@typescript-eslint/quotes": [
      "warn",
      "single"
    ],
    "@typescript-eslint/semi": [
      "warn",
      "always"
    ]
  }
}
