**/*.md
lcdp/**/*.svg
lcdp/**/*.ejs
lcdp/**/*.html
lcdp/package.json
lcdp/.umi
lcdp/.umi-production
lcdp/.umi-test
lcdp/packages/**/lib/**
lcdp/packages/**/esm/**
lcdp/packages/**/node_modules/**
lcdp/packages/core/client/src/locale/*
